#HinhAnh {
        margin-left: 30%;
    }
    #ThongTin {
        float:left;
        width:100%;
    }
    #TenSach {
        font-weight:normal;
        font-size:20pt;
        height:auto;
        word-wrap:break-word; /*Canh nội dung tự xuống dòng */
        color:red;
    }
    #ChuDe, #NhaXuatBan {
        font-size: 15pt;
        font-weight: normal;
        color: black;
        height: auto;
    }
    #Mota {
        font-weight: normal;
        color: black;
        word-wrap: break-word;
        height: auto;
    }
    #Gia span#Gia {
        font-weight: normal;
        color: orange;
        font-size: 25pt;
        height: auto;
    }
    #btnGioHang {
        font-family: 'FontAwesome','Segoe UI';
        background-color: red;
    }
        #btnGioHang:hover {
            background-color: #a30a11;
        }
  